<header>
  <h2 class="title">I-seki</h2>
  <a href="#"><h4>マッチングページ</h4></a>
</header>
<div class="top">
  <div class="matched-btn">
    <a href="#">マッチングページ</a>
  </div>
  <div class="group">
    <ul>
      <li>
        <div class='user_infos'>
          <a class="follow-btn" href="#">フォローする</a>
          <img src="https://natgeo.nikkeibp.co.jp/atcl/news/16/060200197/ph_thumb.jpg" alt="">
          <div class="bottom_info">
            <p class="nickname">かわもと｜</p>
            <p class="area">難波｜</p>
            <p class="people_num">3人</p> 
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
