<header>
  <div class="border">
    <h2 class="title">I - s e k i</h2>
    <ul class="right_header">
      <li><a href="#">マッチングページ</a></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%></li>
    </div>
  </div>
</header>
<div class="top">
  <div class="group">
    <ul class="info_contents">
      <li class="info_content">
        <div class='user_infos'>
          <a class="follow_btn" href="#">フォローする</a>
          <img src="https://natgeo.nikkeibp.co.jp/atcl/news/16/060200197/ph_thumb.jpg" alt="">
          <div class="bottom_info">
            <p class="nickname">かわもと｜</p>
            <p class="area">難波｜</p>
            <p class="people_num">3人</p> 
          </div>
        </div>
      </li>
      <li class="info_content">
        <div class='user_infos'>
          <a class="follow_btn" href="#">フォローする</a>
          <img src="https://natgeo.nikkeibp.co.jp/atcl/news/16/060200197/ph_thumb.jpg" alt="">
          <div class="bottom_info">
            <p class="nickname">たかし｜</p>
            <p class="area">梅田｜</p>
            <p class="people_num">2人</p> 
          </div>
        </div>
      </li>
      <li class="info_content">
        <div class='user_infos'>
          <a class="follow_btn" href="#">フォローする</a>
          <img src="https://natgeo.nikkeibp.co.jp/atcl/news/16/060200197/ph_thumb.jpg" alt="">
          <div class="bottom_info">
            <p class="nickname">きのした｜</p>
            <p class="area">難波｜</p>
            <p class="people_num">3人</p> 
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
